<div class="sidebar-wrapper">
  <div class="logo">
    <a href="http://www.creative-tim.com" class="simple-text">
      <div class="logo-img">
        <img src="/assets/img/angular2-logo-white.png" />
      </div>
      valhip
    </a>
  </div>
  <ul class="nav responsive-nav">
    <li>
      <a [routerLink]="['/produtos']">
        <i class="fa fa-search"></i>
        <p>Produtos</p>
      </a>
    </li>
    <li>
      <a routerLink="/pedidos">
        <i class="fa fa-search"></i>
        <p>Pedidos</p>
      </a>
    </li>
  </ul>
</div
