<div class="wrapper">


  <!-- Inicio Sidebar -->
  <div class="sidebar" data-image="assets/img/sidebar-5.jpg" dat-color="purple">
    <div class="sidebar-wrapper">
      <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text">
          Creative Tim
        </a>
      </div>
      <ul class="nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">
            <i class="nc-icon nc-chart-pie-35"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">
            <i class="nc-icon nc-circle-09"></i>
            <p>User Profile</p>
          </a>
        </li>

      </ul>
    </div>
  </div>
  <!-- Final Sidebar-->



  <div class="main-panel">

    <div class="content">
      <div class="container-fluid">
      </div>
    </div>

  </div>
</div>